.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  padding: var(--btn-padding-y) var(--btn-padding-x);
  border-radius: var(--radius-sm);
  cursor: pointer;
  transition: var(--transition-base);
  position: relative;
  gap: var(--spacing-sm);
  font-size: var(--btn-font-size);
  font-weight: var(--btn-font-weight);
}

.btn--sm {
  --btn-padding-y: 0.5rem;
  --btn-padding-x: 1rem;
  --btn-font-size: 0.875rem;
}

.btn--lg {
  --btn-padding-y: 1rem;
  --btn-padding-x: 2rem;
  --btn-font-size: 1.125rem;
}

.btn__text {
  position: relative;
  transition: var(--transition-base);
}

.btn--solid {
  color: var(--color-primary-white);
  background-color: var(--color-primary-red);
}

.btn--solid::before {
  width: 100%;
  height: 100%;
  opacity: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transform: scale(0.1, 1);
}

.btn--solid::after {
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-white);
  border-radius: var(--radius-sm);
}

.btn--solid:hover .btn__text {
  letter-spacing: 0.125rem;
}

.btn--solid:hover::before {
  opacity: 1;
  transform: scale(1, 1);
  transition: var(--transition-base);
}
